.authenticate{
  height: 120vh;
}

.mainSquare{
   height: 60vh;
   width: 50%;
   display: flex;
   margin: 20% auto;
}

.logcontainer{
    width: 50%;
    background-color: $zoneVideoColor;
    height: 100%;
}


   
   


.otherside{
    background-color: $backgroundGreen;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

   

        .doorframe {
             height: 70%;
             width: 60%; 
             border: 4px solid black;
             display: flex;
             
             perspective: 1200px;
             transform-style: preserve-3d;
             box-shadow: inset .2rem .2rem  rgb(37, 33, 33), inset .2rem .2rem  rgb(37, 33, 33); 
            
          }
          
          .door {
            background: linear-gradient(to right , $zoneVideoColor, rgb(113, 25, 25)); 
            flex-grow: 1;
            // transform-style: preserve-3d;
            transform-origin: left center;
            transition: all 0.5s;
            // backface-visibility: hidden;
            position: relative;
          }
          

          .door:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;  /* invisibilise l'arriere */
            transform-style: preserve-3d;  
            transform: rotateY(180deg);
          }

          .stage1{
            transform: rotate3d(0, 1, 0, -30deg)
          }
          .stage2 {
           transform: rotate3d(0, 1, 0, -60deg);
          } 
        
          .stage3 {
           transform: rotate3d(0, 1, 0, -90deg);
          } 
        
       
          

    }
    



