



.profile{
    --backgroundColor : rgb(30, 85, 95); 
    background-color: var(--backgroundColor);
    height: 130vh;
}

.presentation{
    width: 100%;
    background: rgb(2, 3, 2);
    color: white; 
    height: 10vh;
    margin-bottom: 5%;
    padding-left: 5%;
}
