


.profile{
    --backgroundColor : rgb(30, 85, 95); 
    background-color: var(--backgroundColor);
    height: 130vh;
    display: flex;
    flex-direction: column;
}

.linktogame{
    background-color: rgb(150, 164, 175);
    border: 2px solid black;
    padding: 2%;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
