.logFormContainer{
    background-color: $zoneVideoColor;
    height: 50%;
    margin: 35% 0;
    
    h1{
       width: 50%;
       margin: auto;
    }
   
   }
   
   
   .logForm{
     display: grid;
     width: 80%;
     margin: auto;
    
     div {
       display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
       margin: 2% 0;
       & > input {
        width: 70%;
       }
       
     }
     svg{
       width: 15%;
     }
     


     button{
        width: 75%;
        margin: 5% auto 0 auto;
        background: linear-gradient( to right , rgb(83, 124, 186) , rgb(51, 186, 220)) ;
        color: white;
        border: none;
        font-weight: 600;
        padding: 5%;
        font-family: $mainFont;
     }
      }

