.logFormContainer{

    width: 50%;
    height: 100%;
    margin: auto;
    background-color: $zoneVideoColor;
    h1{
        text-align: center;
    }
    
}

input{
    box-sizing: border-box;

   }

.logForm{
   background-color: beige;
   width: 50%;
   display: grid;
   margin: auto;
   /*
   & > * {
    display: grid;
    grid-auto-flow: row;
    width: 50%;
   &>*{
    grid-row: 1;
    max-width: 80%;
    display: inline-block;
   }
   */

   }
   
   

