$chessPieceColor:  rgb(128, 161, 8); 

.chessBoard{
    border: 15px solid rgb(107, 26, 26);
    margin: auto;
    display: grid;
    height: 60vh;
    width: 50vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.white{
    background-color: white;
}
.black{
    background-color: black;
}

.piecewhite{
    color: white;
}
.pieceblack{
    color: black;
}

.piece{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chesspiece{
    font-size: 2.2em;
    stroke: $chessPieceColor;
    stroke-width: 20px;

    
   
}

.selected{
    box-sizing: border-box;
    box-shadow: inset 0.2rem 0.2rem rgb(43, 105, 187) , inset -0.2rem -0.2rem aqua;
    
}