.zoneGame{
    h1,h2{
        text-align: center;
    }
   
    height: 40vh;
    max-width: 800px; 
    width: 90%;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
      /*repeat(auto, minmax(20px ))*/
    background-color: $zoneVideoColor;
    margin: 5% auto;
   padding: 2%;
   border: 4px black;
   border-style: ridge; 

}


.gameChoice{
    height: 60vh;
    display: flex;
    gap:5px;
}

.gameCard{ 
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: rgb(125, 180, 228);
    border: 3px dotted blue;
    font-size: 0.8rem;

    .btnGameCard{
        font-weight: 600;
        background-color: $zoneVideoColor;
    }
}


.choosen{
    display: block;
}

.notchoosen{
    display:none
}


