
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+HK:wght@300&family=Passions+Conflict&family=Roboto+Mono&display=swap'); 

$mainFont: "Roboto Mono"; 
$zoneVideoColor: rgb(126, 207, 245); 
$profileBgGreen: rgb(30, 85, 95); 
$backgroundGreen: rgb(30, 85, 95); 

body{
    font-family: $mainFont; 
    margin: 0; 
}

@import "./keyframes/keyframes.scss"; 
@import "./pages/authenticate"; 
@import "./pages/profile"; 
@import "./pages/gameBoard"; 
@import "./components/header"; 
@import "./components/logForm"; 
@import "./game/zoneGame";
@import "./components/zoneScore";
@import "./game/tictactoe";  
@import "./game/chess";  
@import "./game/roulette";  


